@import './common';

body {
    background-color: rgba(219, 92, 76, 0.1)
}

header{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 30px;

}
.photo-card {
    flex-basis: calc((100% - 30px) / 4);
}
.is-hidden {
    display: none;
}

.search-form {
max-width: 30%;
position: relative;
display: flex;
}

.input {
width: 100%;
border: 3px solid #212287;
border-right: none;
padding: 5px;
height: 36px;
outline: none;
color: rgba(133, 36, 158, 0.5);
font-weight: 800;
border-radius: 20px;
text-align: center;
}

.input:hover,
.input:focus{
    color: #db5c4c;
}

.searchButton{
height: 36px;
border: 1px solid #129556;
background: #871868;
text-align: center;
color: #fff;
border-radius: 10px;
cursor: pointer;
font-size: 20px;
}

.photo-card {
    text-align: center;
    padding: 20px;
    background-color: #6d7e16;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 20px;
}
.info {
    display: flex;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 32px;
    font-size: 18px;
}

.load-more {
    margin: 20px;
appearance: none;
background-color: transparent;
border: none;
border-radius: 15px;
box-sizing: border-box;
background-color: rgba(230, 111, 111, 0.5);
cursor: pointer;
display: inline-block;
font-size: 16px;
font-weight: 800;
margin-top: 20px;
min-height: 26px;
min-width: max-content;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
will-change: transform;
}

// .load-more:disabled {
// }

.is-hidden {
    display: none;
}

.center-button{
    display: flex;
    justify-content: center;
}
